<div class="successContainer">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div mat-dialog-content>
                <div style="padding: 50px 20px 20px 20px;">Patient Registered Sucessfully</div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div mat-dialog-action style="text-align: center; padding: 0px 0px 20px 0px; ">
                <button class="mr-3"mat-dialog-close mat-raised-button
                color="primary">Done</button>
            </div>
        </div>
    </div>
</div>
